{%  load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Open Kakao</title>

    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap-overrides.css" %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}" />
    <link rel="stylesheet" href="{% static "css/openKakao.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/isotope.css" %}" />

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
    <script src="{% static "js/heya.client.js" %}"></script>
    <script src="{% static "js/heya.client.openk.js" %}"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">
                <strong>OPEN KAKAO</strong>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="http://heya.chat">HEYA !</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="openk">
        <div class="container">
            <div class="section_header">
                <div class="header">
                    <div class="span8 header-content submit-box">
                        <input type="text" class="input-block-level search-query" placeholder="Search">

                        <div class="box">
                            <div class="box_cont">
                                <div class="form form-horizontal">
                                    <div class="form-group">
                                        <input type="text" id="add_subject" class="input-block-level" placeholder="제목" />
                                        <input type="text" id="add_url" class="input-block-level" placeholder="URL" />
                                        <input type="text" id="add_description" class="input-block-level" placeholder="설명 (Optional)" />
                                    </div>
                                    <div class="form-group text-center">
                                        <p id="error_message" class="box-error"></p>
                                    </div>
                                    <button type="button" class="btn btn-large btn-submit">ADD</button>
                                </div>

                                <div class="division">
                                    <div class="line l"></div>
                                    <span>share</span>
                                    <div class="line r"></div>
                                </div>

                                <div class="social">
                                    <a href="#" class="circle facebook">
                                        <img src="{% static "img/face.png" %}" alt="">
                                    </a>
                                     <a href="#" class="circle twitter">
                                        <img src="{% static "img/twt.png" %}" alt="">
                                    </a>
                                     <a href="#" class="circle gplus">
                                        <img src="{% static "img/gplus.png" %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span12 openk-sort">
                <ul class="nav nav-pills">
                    <li data-sort="hot"><a href="#">인기순</a></li>
                    <li data-sort="new"><a href="#">최신순</a></li>
                </ul>
            </div>

            <div class="openk-contents"></div>

            <div class="pagination text-center">
                <ul></ul>
            </div>
        </div>
    </div>

    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row info">
                <div class="span6 residence">
                    <ul>
                        <li>Google Campus Seoul, Autoway Tower, Gangnam-gu</li>
                        <li>Seoul, Republic of Korea</li>
                    </ul>
                </div>
                <div class="span5 touch">
                    <ul>
                        <li><strong>E.</strong><a href="#"> cx@kyyb.co</a></li>
                    </ul>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © 2015 <a href="http://heya.chat">KYYB.co.</a> All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/theme.js" %}"></script>
    <script src="{% static "js/jquery.isotope.min.js" %}"></script>
    <script type="text/javascript">
        $(function(){
            var $container = $('#gallery_container'),
                  $filters = $("#filters a");

            $container.imagesLoaded( function(){
                $container.isotope({
                    itemSelector : '.photo',
                    masonry: {
                        columnWidth: 102
                    }
                });
            });

            // filter items when filter link is clicked
            $filters.click(function() {
                $filters.removeClass("active");
                $(this).addClass("active");
                var selector = $(this).data('filter');
                $container.isotope({ filter: selector });
                return false;
            });
        });
    </script>
</body>
</html>